@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Lexend+Giga:wght@100..900&display=swap');

:root {
    --cor1: #E1830D;
    --cor2: #DCA059;
    --cor3: #F2EBC9;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;    
}

body {
    background-color:rgba(220, 161, 89, 0.431);
}

.menu {
    background-color: #E1830D;
    display: flex;
    justify-content: space-between;    
    padding: 5px 5%;     
}

.menu > img {
    height: 60px;
    min-width: 20px;
    max-width: 60px;
}

nav {
    display: flex;
    gap: 10px;  
}
  

.menu nav > a {    
    color: white;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 20px;
    border-radius: 5px;    
    padding: 10px;
    margin: 10px 20px;
}

nav > a:hover {    
 background-color: white;
 color: var(--cor1);
 transition: .5s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo {
 display: flex;
 align-items: center;
 gap: 20px;
 margin-bottom: 40px;
 justify-content: center;
 }

h1 {    
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    color: var(--cor1);
    text-shadow: 2px 2px 0px var(--cor2);    
}

.conteudo {
    display: flex;        
    gap: 60px;      
 }


h2 {
    font-family:"Lexend Giga", sans-serif;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.174); 
}

.chamada {
    margin: 40px 20px;
}

button {    
    margin: 30px; 
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--cor2);
    font-family: "Lexend Giga", sans-serif;
}

button:hover {
    background-color: var(--cor1);
    color: white;
    transition: .5s;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.motivos {
    background-color: #E1830D;
    border-radius: 20px;
    height: auto;    
    padding: 20px;
    text-align: center;
    color: white;
    max-width: 700px;
    min-width: 300px;      
}

.motivo-item {
    color: white;
    font-family: sans-serif;
    margin-bottom: 7px;    
}

@media (max-width: 900px) {
    .conteudo {
        flex-direction: column;
        align-items: center;    
    }  
}